<html>
    <head>
        <title>M.tatsuya blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">M.tasuya blog</a></h1>
        </div>

        <div>
            <p>published: 26.10.2019, 23:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. ola. ヘイヘイこんちは！(＞人＜;)</p>
        </div>

        <div>
            <p>公開日: 2019/10/26(sat), 23:02</p>
            <h2><a href="">二番目の投稿</a> </h2>
            <p>こんにちは！　よろしくお願いします。</p>
        </div>
    </body>
</html>